.boardContainer {
  display: grid;
  grid-gap: 0px;

  .cell {
    border: 1px solid #444;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    font-weight: 700;
  }

  *[class*="state"] {
    background-color: white;
  }

  .state0 {
    color: transparent;
  }

  .state1 {
    color: blue;
  }

  .state2 {
    color: green;
  }

  .state3 {
    color: red;
  }

  .state4 {
    color: purple;
  }

  .state5 {
    color: maroon;
  }

  .state6 {
    color: #0aa;
  }

  .state7 {
    color: black;
  }

  .state8 {
    color: #444;
  }

  .stateX {
    color: white;
    background-color: #f55;
  }

  .clearable {
    background: repeating-linear-gradient(
      45deg,
      white,
      white 4px,
      #7d7 2px,
      #7d7 6px
    );
  }

  .flaggable {
    background: repeating-linear-gradient(
      45deg,
      white,
      white 4px,
      #f99 2px,
      #f99 6px
    );
  }

  .clickable {
    cursor: pointer;
  }
}
